# Explore here

In [2]:
import pandas as pd

total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/decision-tree-project-tutorial/main/diabetes.csv")
total_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df = total_data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
df.shape

(768, 9)

In [8]:
df.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

In [9]:
df.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [12]:
df.duplicated(keep=False)

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Length: 768, dtype: bool

In [13]:
print("Total missing values for each column:")
print(df.isnull().sum(axis=0))

Total missing values for each column:
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [17]:
df.value_counts(['Pregnancies'])

Pregnancies
1              135
0              111
2              103
3               75
4               68
5               57
6               50
7               45
8               38
9               28
10              24
11              11
13              10
12               9
14               2
15               1
17               1
Name: count, dtype: int64

In [18]:
df.value_counts(['SkinThickness'])

SkinThickness
0                227
32                31
30                27
27                23
23                22
18                20
28                20
33                20
31                19
19                18
39                18
29                17
40                16
37                16
22                16
25                16
26                16
41                15
35                15
36                14
15                14
17                14
20                13
24                12
13                11
42                11
21                10
46                 8
34                 8
12                 7
38                 7
11                 6
45                 6
16                 6
14                 6
43                 6
44                 5
10                 5
47                 4
48                 4
49                 3
50                 3
54                 2
52                 2
8                  2
7                  2
51                 1
56                 1
60                 1
63                 1
99                 1
Name: count, dtype: int64

In [19]:
df.value_counts(['BloodPressure'])

BloodPressure
70               57
74               52
78               45
68               45
72               44
64               43
80               40
76               39
60               37
0                35
62               34
82               30
66               30
88               25
84               23
90               22
58               21
86               21
50               13
56               12
54               11
52               11
92                8
75                8
65                7
85                6
94                6
48                5
96                4
44                4
110               3
106               3
100               3
98                3
108               2
104               2
46                2
55                2
30                2
95                1
61                1
102               1
38                1
40                1
24                1
114               1
122               1
Name: count, dtype: int64

In [20]:
df.value_counts(['SkinThickness'])

SkinThickness
0                227
32                31
30                27
27                23
23                22
18                20
28                20
33                20
31                19
19                18
39                18
29                17
40                16
37                16
22                16
25                16
26                16
41                15
35                15
36                14
15                14
17                14
20                13
24                12
13                11
42                11
21                10
46                 8
34                 8
12                 7
38                 7
11                 6
45                 6
16                 6
14                 6
43                 6
44                 5
10                 5
47                 4
48                 4
49                 3
50                 3
54                 2
52                 2
8                  2
7                  2
51                 1
56                 1
60                 1
63                 1
99                 1
Name: count, dtype: int64

In [21]:
df.value_counts(['Insulin'])

Insulin
0          374
105         11
140          9
130          9
120          8
          ...
193          1
191          1
188          1
184          1
846          1
Name: count, Length: 186, dtype: int64

In [22]:
df.value_counts(['BMI'])

BMI
32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
31.1     1
39.7     1
39.6     1
31.3     1
67.1     1
Name: count, Length: 248, dtype: int64

In [23]:
df.value_counts(['DiabetesPedigreeFunction'])

DiabetesPedigreeFunction
0.258                       6
0.254                       6
0.261                       5
0.238                       5
0.259                       5
                           ..
0.420                       1
0.419                       1
0.417                       1
0.416                       1
2.420                       1
Name: count, Length: 517, dtype: int64

In [24]:
df.value_counts(['Age'])

Age
22     72
21     63
25     48
24     46
23     38
28     35
26     33
27     32
29     29
31     24
41     22
30     21
37     19
42     18
33     17
38     16
36     16
32     16
45     15
34     14
40     13
43     13
46     13
39     12
35     10
52      8
44      8
50      8
51      8
58      7
54      6
47      6
53      5
60      5
49      5
57      5
48      5
66      4
62      4
63      4
55      4
59      3
56      3
65      3
67      3
61      2
69      2
64      1
68      1
70      1
72      1
81      1
Name: count, dtype: int64

In [25]:
df.value_counts(['Outcome'])

Outcome
0          500
1          268
Name: count, dtype: int64

In [ ]:
'''Pregnancies	   Glucose	   BloodPressure	SkinThickness	Insulin	  BMI	DiabetesPedigreeFunction	Age 	Outcome'''

In [ ]:
# our 'y' is 'outcome'

Step 2: Perform a full EDA
This second step is vital to ensure that we keep the variables that are strictly necessary and eliminate those that are not relevant or do not provide information. Use the example Notebook we worked on and adapt it to this use case.

Be sure to conveniently divide the data set into train and test as we have seen in previous lessons.

Step 3: Build a regression model
Start solving the problem by implementing a decision tree and analyze which of the two types satisfies your needs. Train it and analyze its results. Try modifying the function for calculating the purity of the nodes and use all the available ones. Describe them and analyze your results by graphing them.

Step 4: Optimize the previous model
After training the tree with the different purity functions, it selects the best of them and optimizes its hyperparameters using a grid search.

Step 5: Save the model
Store the model in the corresponding folder.